* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 12dvh;
}

body {
    font-family: 'Poppins', sans-serif ;
    overflow: hidden;
}

:root {
    /* variables */
    --page-height: calc(88dvh);
    --top-bar-color: rgb(35, 35, 35);
    --nav-bar-color: rgb(49, 49, 49);
    --container-color: rgba(255, 255, 255, 0.192);
    --box-shadow: 0px 0.25rem 0.5rem 0 rgba(28, 28, 28, 0.5);
    --button-color: rgb(70, 129, 244);
    --gray-text: rgb(216, 216, 216);
    --circular-meter-font-color: rgb(255, 255, 255);
    --numeric-meter-text-color:rgb(255, 255, 255); 
    --progress-bar-color:  rgb(83, 183, 255);
}

/* utility classes */
.page {
    display: flex;
    height: var(--page-height);
    flex-direction: column;
    background: linear-gradient(to bottom, #3f6fb1, #3663a4, #2d5798, #244c8b, #1b417f);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.absolute-hidden {
    position: absolute;
    visibility: hidden;
}

/* search bar and navigation bar */
.navigation-container {
    width: 100%;
    height: 12dvh;
    color: white;
}

.nav-inner {
    position: fixed;
    width: 100%;
    box-shadow: 0px -7px 15px 6px rgba(0,0,0,1);
    z-index: 10;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    height: 8dvh;    
    background-color: var(--top-bar-color);
}

.logo {
    margin-left: 4dvh;
}

.input-field {
    text-align: center;
    font-size: large;
    width: 35dvw;
    height: 2.5rem;
    border-radius: 0.25rem;
    border: none;
}

.input-field:focus {
    outline: none;
}

::placeholder {
    text-align: center;
    font-size: 1rem;
}

.submit-btn {
    background-color: var(--button-color) ;
    font-size: large;
    margin-left: 0.5rem;
    height: 2.4rem;
    width: 2.5rem;
    border-radius: 0.25rem;
    border: none;
}

.submit-btn > img {
    object-fit: fill;
    width: 40%;
    height: 40%;
    margin-top: 2px;
}

.date-time {
    margin-right: 4dvh;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    height: 4dvh;
    justify-content: center;
    background-color: var(--nav-bar-color);
}

.nav-bar > ul {
    width: 50%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    font-size: 2dvh;
 }

 .nav-bar > ul > li > a {
    color: white;
    text-decoration: none;
 }

 .nav-bar > ul > li > a:hover {
    color: rgb(72, 255, 127);
 }

/* ---------------------------------------- */

 /* hourly page */
.hourly-page-container {
    align-items: center ;
}

.main-display-container {
    width: 100%;
    height: 50%;
    background-image: url("../assets/tom-barrett-hgGplX3PFBg-unsplash.jpg");
    background-color: rgba(0, 0, 0, 0.208);
    background-size: cover;
    background-blend-mode: color-dodge;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-display {
    width: 50%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-display > img {
    width: 12dvh;
    height: 12dvh;
}

.weather-display > div {
    width: 100%;
    color: white;    
}

.main-temp {
    font-size: 4rem;
    font-weight: bolder;
}

.main-condition {
    font-size: 1.5rem;
}

.main-location {
    font-size: 1.125rem;
    font-weight: 200;
}

.information-container {
    margin: 1rem;
    width: 90%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6dvh;
    row-gap: 1rem;
}

.information-container > * {
    height: 20dvh;
    border-radius: 1rem;  
    box-shadow: var(--box-shadow);
    background: var(--container-color);
    z-index: 0;
}


.information-container > div > h4 {
    text-align: center;
    margin-top: 0.5rem;
    color: var(--gray-text);
}

.weather-icon-display {
    display: grid;
    height: 75%;
    grid-template-columns: 20% 80%;
}

.icon {
    height: 100%;
}

.icon > img {
    height: 3rem;
    width: 3rem;
}

.circular-progress-container {
    width: 75%;
    flex-direction: column;
    z-index: -1;
}

.circular-progress {
    height: 15dvh;
    width: 15dvh;
    border-radius: 50%;
    background: conic-gradient(var(--progress-bar-color) 0deg, rgb(73, 73, 73) 0deg);
}

.circular-progress::before {
    content: "";
    position: absolute;
    height: 13dvh;
    width: 13dvh;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.052),
    inset -4px -4px 6px -1px rgba(0, 0, 0, 0.078);
    background-color: rgb(81, 114, 167);
}

.circular-progress-value {
    font-size: medium;
    z-index: 1;
    font-weight: 800;
    color: var(--circular-meter-font-color);
}

.numeric-meter {
    color: var(--numeric-meter-text-color);
    font-size: 4dvh;
    width: 75%;
    height: 95%;
}

/* ---------------------------------------- */

/* daily page */
.daily-page-container {
    align-items: center;
}

.next-four-info-container {
    height: 20%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3dvh;
    margin-top: 2dvh;
}

.day-1,
.day-2,
.day-3,
.day-4 {
    background-color: var(--container-color);
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    height: 16dvh;
    flex-direction: column;
}

.next-four-info-container > div > h4 {
    text-align: center;
    margin-top: 0.25rem;
    color: var(--gray-text);
    font-size: 2dvh;
}

.next-temp {
    font-size: 5dvh;
    font-weight: 800;
}

.next-four-info-container > div > p {
    color: var(--gray-text);
    font-size: 2dvh;
}

.wind-speed-chart-container,
.rain-chance-container {
    height: 40%;
    width: 100%;
}

.speed-chart,
.rain-meters {
    border-radius: 1rem;
    background-color: var(--container-color);
    width: 95%;
    height: 90%;
    box-shadow: var(--box-shadow);
    text-align: center;
    flex-direction: column;
}

.speed-chart > h4 {
    color: var(--gray-text);
}

.speed-chart-container {
    height: 90%;
    width: 80%;
}


.rain-chance-title {
    color: var(--gray-text);
}

.rain-chance-meter-container {
    height: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.rain-meter-inner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rain-chance {
    font-weight: 800;
}

.progress-bar {
    height: 80%;
    width: 4%;
    border-radius: 2rem;
    background-color: rgb(73, 73, 73);
    display: flex;
    align-items: end;
}

.progress { 
    height: 0%;
    border-radius: 2rem;
    width: 100%;
    background-color: var(--progress-bar-color);
    animation: progress 1s linear forwards
}

@keyframes progress {
    100% {
        height: 70%;
    }
}

.rain-chance-date {
    color: var(--gray-text);
    font-weight: 600;
    padding-bottom: 1dvh;
}

/* ---------------------------------------- */

/* past weather page */
.past-weather-container > * {
    height: 50%;
    width: auto;
}

.temp-chart,
.speed-meter {
    border-radius: 1rem;
    width: 95%;
    height: 95%;
    background-color: var(--container-color);
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--gray-text);
    flex-direction: column;
}

.past-chart-container {
    width: 90%;
    height: 90%;
}

/* air quality page */
.air-quality-page-container > * {
    height: 50%;
    width: auto;
}

.air-quality,
.air-pollutants {
    border-radius: 1rem;
    width: 95%;
    height: 95%;
    background-color: var(--container-color);
    box-shadow: var(--box-shadow);
}

.air-quality {
    flex-direction: column;
    z-index: 0;
}

.air-quality-meter-outer {
    width: 30%;
    height: 60%;
    flex-direction: column;
}

.air-quality-meter {
    height: 24dvh;
    width: 24dvh;
    border-radius: 50%;
    background: conic-gradient(var(--progress-bar-color) 100deg, #ededed 0deg);
    position: relative;
}

.air-quality-meter::before {
    content: "";
    position: absolute;
    height: 20dvh;
    width: 20dvh;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.292),
    inset -4px -4px 6px -1px rgba(0, 0, 0, 0.268);
    background-color: rgb(95, 132, 185);
}

.air-quality-value {
    z-index: 1;
    font-size: 5dvh;
    font-weight: 600;
    color: var(--circular-meter-font-color);
}

.air-quality-condition {
    height: 15%;
    font-size: 4dvh;
    font-weight: 600;
}

.air-quality-description {
    color: var(--gray-text);
    font-weight: 800;
}

.air-pollutants {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.pollutant-container {
    display: flex;
    align-items: center;
}

.pollutants-progress-container {
    margin: 0 4% 0 4%;
}

.pollutant-condition {
    font-weight: 800;
    color: var(--gray-text);
}



